{:dev true
 :port 3000
 :nrepl-port 7000
 :private-key "kana15"
 :base-url "http://localhost:3000"
 :max-file-size 50
 :mail-account {:host "<SMTP HOST>"
                :port 587
                :user "<USER>"
                :pass "<PASSWORD>"
                :tls true}
 :datahike {:store {:backend  :mem
                    :id       "mtool-db-dev"}
            :schema-flexibility :write
            :keep-history? true}}
